@import "./src/styles/colors";

html {
  font-size: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: $textPrimary;
  outline: none;
}

body {
  margin: 0;
  background-color: $background;
}

input,
textarea,
button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
