@import "src/styles/colors";

.wrapper {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: calc(100% - 4rem);
  height: 6rem;
  background: $theme;
  color: $highlight;
  font-weight: 500;
}

.title {
  font-size: 2rem;
}

.name {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.button {
  border: none;
  border-radius: 0;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  background: none;
  color: $highlight;
  font-weight: 600;
  &:hover {
    background: $themeDark;
  }
}
